<%-include('partials/header.ejs',{style:"stylesheets/about.css"}) %>
  <%-include('partials/navbar.ejs') %>


    <div class="float-container">
      <div class="inner-container">
        <h1>The Platform For College Students</h1>
        <h2>Good software, like wine, takes time...</h2>
        <div class="float-child">
          <div class="green">
            
            <p>Welcome to Curiosity, your number one source for all Engineering related query. We're dedicated to giving
              you the very best of this forum, with a focus on privacy, security and smooth experience. Founded in 2021
              , Curiosity has come a long way from its beginnings .
            </p>
            
            <p>We hope you enjoy our products as much as we enjoy offering them to you. If You have any doubts,you can
              mail us or ask in comment section.
              Hope you like our work. </p>
            
            <p>Sincerely
            </p>Curiosity
          
          </div>
        </div>
        <div class="float-child">
          <div class="blue">
            <img
              src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c3R1ZGVudHN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
          </div>
        </div>
      </div>
    </div>

    <%-include('partials/footer.ejs') %>

<!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>
  </body>
  </html>
