<nav
  class="shadow navbar navbar-expand-lg navbar-dark sticky-top"
  style="background-color: #0a2541"
>
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarRightAlignExample"
      aria-controls="navbarRightAlignExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <a class="navbar-brand" href="/"><b>Curiosity</b></a>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarRightAlignExample">
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Index</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="/register">Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="/login">Login</a>
        </li>

        <!-- Navbar dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link active dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            Streams
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=cse"
                >CSE or IT</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=me"
                >Mechanical/Automobile</a
              >
            </li>

            <li>
              <a class="dropdown-item" href="/questions?page=1&category=ece"
                >Electronics</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=ee"
                >Electrical Engineering</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=ce"
                >Chemical Engineering</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=lt"
                >Leather Technology</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=ct"
                >Ceramic Technology</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=ft"
                >Food Technology</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=cv"
                >Civil Engineering</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/questions?page=1&category=ot"
                >Others</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">About</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
