<%-include('partials/header.ejs',{style:"stylesheets/style.css"}) %>


<%-include('partials/navbar.ejs') %>

<h3>This is our about page</h3>


<%-include('partials/footer.ejs') %>
<!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>

</body>

</html>

