<%-include('partials/header.ejs' , {style:"stylesheets/style.css"}) -%>
<%-include('partials/navbar.ejs') %>

<body style="background-color: #f1f2f2;">
<div class="container mt-3">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><%=err.message%></h4>
        <p><%= err.stack %></p>
      </div>
    </div>
  </div>
</div>



<!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>
</body>
</html>
