<%-include('partials/header.ejs' , {style:"stylesheets/style.css"}) -%> <%
if(currentUser){%> <%- include("partials/LoggedNavbar.ejs"); -%> <%} else {%>
<%- include("partials/navbar.ejs"); -%> <%}%> <%-include("partials/flash.ejs")
%>

<section class="mt-5">
  <div class="container">
    <form
      class="row g-3 needs-validation"
      novalidate
      action="/forgot-password"
      method="POST"
    >
      <div class="mb-3">
        <label class="form-label" for="email"
          ><b>Please Enter your Email</b></label
        >
        <input name="email" type="email" id="email" class="form-control
        form-control-lg" / required>
      </div>

      <div class="col-12">
        <button class="btn btn-primary" type="submit">Send Email</button>
      </div>
    </form>
  </div>
</section>


<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>


</body>
</html>
