<%-include('partials/header.ejs' , {style:"stylesheets/style.css"}) -%> <%
if(currentUser){%> <%- include("partials/LoggedNavbar.ejs"); -%> <%} else {%>
<%- include("partials/navbar.ejs"); -%> <%}%> <%-include("partials/flash.ejs")
%>

<section class="forgotpassword">

<div class="container-fluid">
<div class="row">

<div class = "col-sm-9 col-md-6 col-lg-6 order-1  mb-2">
<img src="images/forgot.png" alt="image" class="img-fluid">
</div>

<div class = "text col-sm-3 col-md-6 col-lg-6 order-2 mb-2 ">
  <form
      class="row g-3 needs-validation"
      novalidate
      action="/forgot-password"
      method="POST">

      <div class="mb-3">
      <h1>Forgot Password?</h1>
      <label class="form-label" for="email">
      <b>Enter the email address associated with your account and we'll send you<br/> a link to reset password.</b>
      </label>
      <div class="emailaddress mt-4 ">
      <input name="email" type="email" id="email" class="form-control" placeholder="Enter email address"/ required>
      </div>
      </div>

      <div class="col-12">
        <button class="btn btn-secondary btn-lg" type="submit">Send Email</button>
      </div>
    </form>
</div>
</div>
</div>
</section>


<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>


</body>
</html>
