<%-include('partials/header.ejs' , {style:"stylesheets/style.css"}) -%>


<%-include('partials/navbar.ejs') %>

<h1>THIS IS OUR INDEX PAGE</h1>









<%-include('partials/footer.ejs') %>
<!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>

</body>

</html>
