<%-include('partials/header.ejs' , {style:"stylesheets/style.css"}) -%>

<section id="page404">
  
<div class="container ">
  <div class="row">
    <div class="text404 col-xl-6 col-lg-6 col-md-6 col-12">
      <h1 class="display-1 Head404">404</h1>
      <p class="display-6">OOPS! You are Lost</p>
      <p class="msg404">The Page Your are looking for Does Not Exist .How did you get that is mystery but You Can click the button to back the home page</p>
      <a href="/"><button type="button" class=" btn404 btn btn-outline-success rounded-pill">Home Page</button></a>
  
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-12">
      <img class="img-fluid" src="/images/error.png" alt="image" >
    </div>
  </div>
</div>

</section>

<!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>
</body>
</html>
