<%-include('partials/header.ejs' , {style:"stylesheets/style.css"}) -%> <%
if(currentUser){%> <%- include("partials/LoggedNavbar.ejs"); -%> <%} else {%>
<%- include("partials/navbar.ejs"); -%> <%}%>

<section class="mt-5">
  <div class="container">
    <h1>Reset Your Password</h1>
    <form
      class="row g-3 needs-validation"
      novalidate
      action=""
      method="POST"
    >
      <div class="mb-3">
        <label class="form-label" for="email"
          ><b>Reset Password</b></label>
        <input name="password" type="password" id="password" class="form-control
        form-control-lg" / required>
      

      <label class="form-label" for="email"
          ><b>Confirm Password</b></label>
        <input name="confirmPassword" type="password" id="confirmPassword" class="form-control
        form-control-lg" / required>
      <br/>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Reset</button>
      </div>
      </div>
      </form>
  </div>
</section>

