<%-include('partials/header.ejs' , {style:"stylesheets/style.css"}) -%>


<div class="mt-3 mb-2">
    <div class="text-center">
      <h1>Verification link has been sent to your email.</h1>
    </div>
</div>

<div class="p-3 mb-4">
    <div class="text-center">
        <a href="/"><button class="btn btn-success">Home Page</button></a>
    </div>
</div>

<%-include('partials/footer.ejs') %>