<%-include('partials/header.ejs' , {style:"stylesheets/style.css"}) -%>

<h1>Verification link has been sent to your email.</h1>
<a href="/"><button class="btn btn-success">Home Page</button></a>

<%-include('partials/footer.ejs') %>
