*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
  box-sizing: border-box;
}

  body {
    display: flex;
    flex-direction: column;
    height: 150vh;
  }  
  footer {
    margin-top: auto;
    font-size: larger;
  }
  .float-container {    
    padding: 160px;
    margin-bottom: auto;
    background-image: url(https://images.unsplash.com/photo-1618123069754-cd64c230a169?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxhY2slMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .float-child {
    width: 50%;
    float: left;
    padding: 20px;
    color: #fff;
  }  
  img{
    border-radius: 50%;
  }
