@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.Welcome {
  font-size: 3rem;
}
/* footer  */
footer {
  margin-top: auto;
  font-size: larger;
}

/* page 404 */

#page404 {
  margin-top: 7%;
  zoom: 1.2;
}

.Head404 {
  font-size: 150px;
}
.msg404 {
  font-size: 20px;
}

.btn404:hover {
  transform: scale(1.1);
  color: white;
  background-color: green;
}

/* Question Page */
.body {
  background-color: #f1f2f2;
}
/* .openanswer {
  background-color: #e7ebeb;
}
.openanswer:hover {
  transform: scale(1.05);
  color: #4895ef;
} */

.card {
  font-size: 20px;
}
.cards {
  background-image: radial-gradient(white 70%, #caf0f8);
}
.card .cardbtn {
  background-color: #caf0f8;
  color: #1b4965;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2px 8px;
}
.card .cardbtn:hover {
  background-color: #5fa8d3;
}
.card .cardanc {
  color: black;
}
.card .cardanc:hover {
  color: blue;
}

.card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 88, 0.5);
}

/* Login Page */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}

/* Profile pic  */
.profile_pic {
  margin: 5px auto;
  width: 100%;

  top: 50px;
}
.profile_pic img {
  border-radius: 10%;
  width: 180px;
  height: 180px;
  object-fit: cover;
  /* border: 3px solid black; */
  /* box-shadow: 5px 5px #0096c7; */
}
.profile_pic img:hover {
  box-shadow: 5px 5px #caf0f8;
}
.upload {
  top: -34px;
  bottom: 0;
  position: relative;
  padding-left: 147px;
}
/* questionPage */
/* .Quescard {
  background-image: linear-gradient(white 70%, #e63946);
} */

.answercard {
  height: 150px;
}
